.headerLeft {
  width: 15%;
}

.headerCenter {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.headerCenter > h2 :hover {
  background-color: #ad12fc;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

.headerRight {
  padding: auto;
}
